body {    
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


button {
    display: flex;
    justify-content: space-around;
    margin-right: 8px;
    background: lightblue;
    max-width: 100px;
    padding: 8px 16px;
    border-radius: 8px;
    border-style: hidden;
}
.buttonDiv {    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;

}
.result {
    display: flex;
    flex-direction: column;
    
}
.score {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
div {
    justify-content: space-between;
    display: flex;
    align-items: center;
    align-self: center;
}